In [124]:
#Inheritance_Example
class Person():
    def __init__(self,fn,ln,a):
        self.first_name=fn
        self.last_name=ln
        self.age=a
    def show_full_name(self):
        print(f"{self.first_name} {self.last_name}")

In [126]:
#Inheritance
class Employee(Person):
    pass

In [128]:
e=Employee("Sara","Hasani",26)
e.show_full_name()

Sara Hasani

In [130]:
#Inheritance_Example
class Person1():
    def __init__(self,fn,ln,a):
        self.first_name=fn
        self.last_name=ln
        self.age=a
    def show_full_name(self):
        print(f"{self.first_name} {self.last_name}")

In [132]:
class Employee1(Person1):
    def __init__(self,fn,ln,a,s):
      #Person1.__init__(self,fn,ln,s)
      super().__init__(fn,ln,a)
      self.salary=s

In [133]:
e1=Employee1("Ali","Ahmadi",24,3000000000)
e1.show_full_name()

Ali Ahmadi

In [136]:
#Inheritance_Example

class Person2():
    def __init__(self,fn,ln,g,by,ms):
        self.first_name=fn
        self.last_name=ln
        self.gender=g
        self.birthyear=by
        self.marital_status=ms
    def __str__(self):
        return f"{self.first_name} {self.last_name}"
    def calculate_age(self,current_year):
        return current_year-self.birthyear

In [138]:

class Employee2(Person2):
    tax=10
    insurance=7
    def __init__(self,fn,ln,g,by,ms,s,jt):
        Person2.__init__(self,fn,ln,g,by,ms)
        #super().__init__(fn,ln,g,by,ms)
        self.salary=s
        self.job_title=jt
        self.salary_addition()
    def salary_addition(self):
      if self.marital_status.lower()=="married":
         self.salary+=1000000
          
#Polymorphism
    def __str__(self):
        return f"{self.first_name} {self.last_name} - {self.job_title}"
    def show_net_salary(self):
        print(self.salary-(self.salary*(self.tax+self.insurance)/100))

In [140]:
e2=Employee2("Dellaram","Mohamadi","Female",1375,"Married",28000000,"Teacher")
print(e2)
e2.show_net_salary()
print(e2.calculate_age(1404))

Dellaram Mohamadi - Teacher
24070000.0
29

In [144]:
p2=Person2("Hassan","Azizi","Male",1380,"single")
print(p2)

Hassan Azizi